    .form-control:focus {
        border: 0;
        box-shadow: none;
    }

    .form-control {
        border: 0 !important;
        font-size: 20px;
        margin-left: 10px;
        background-color: #fff;
    }

    .input-group-addon {
        margin-bottom: 0px;
        margin-top: 8px;
    }

    #goToLogin {
        color: #000000;
        border: 2px solid black;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 20px;
    }

    #goToLogin:hover {
        text-decoration: none;
        color: #fff;
        background-color: #000;
    }

    #goToRegister {
        color: #000000;
        border: 2px solid black;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 20px;
    }

    #goToRegister:hover {
        text-decoration: none;
        color: #ffffff;
        background-color: #000;
    }

    #logInForgotPass {
        color: #0cc1d8;
        float: right;
        margin-bottom: 15px;
        margin-right: 10px;
    }

    #logInForgotPass:hover {
        text-decoration: none;
        color: #023762;
    }

    #submitResult {
        display: none;
        border: 1px dotted black;
        color: black;
        text-align: center;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
    }

    #AlHaveAcc {
        color: #c0c0c0;
    }